<h1 setBackground>This is App Component</h1>

<div class="container" setBackground appHover>
  <p>This is a demo html content to understand custom attribute directive in Angular</p>
</div>

<div appHighlight appHover>
  <p>This is a demo html content to understand custom attribute directive in Angular</p>
</div>

<div class="container" [appBetterHighlight]="'red'" [defaultColor]="'yellow'" [title]="'Example zinga'">
  <p>This is a demo html content to understand @HostBinding directive in Angular</p>
</div>

<div appClass [display]="{'container': true, 'change-font': true}">
  <p>This is a demo html content to understand how to create custom ngClass directive in Angular</p>
</div>