<div class="container">
  <h2>New in smart phones</h2>
</div>
<div class="more-products">
  <app-product>
  <h4 class="title">New in Samsung</h4>
  <button class="btn btn-more">Show More in Samsung</button>
  </app-product>

  <app-product>
    <h4 class="title">New in OnePlus</h4>
    <button class="btn btn-more">Show More in OnePlus</button>
  </app-product>
  
  <app-product>
    <h4 class="title">New in MI</h4>
    <button class="btn btn-more">Show More in MI</button>
  </app-product>
  
  <app-product>
    <h4 class="title">New in iPhone</h4>
    <button class="btn btn-more">Show More in iPhone</button>
  </app-product>
  
  <app-product>
    <h4 class="title">New in Nokia</h4>
    <button class="btn btn-more">Show More in Nokia</button>
  </app-product>
</div>
